<a href="https://colab.research.google.com/github/ror74559/house_price_kaggle/blob/main/House_Price(kaggle).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# House Prices - Advanced Regression Techniques(kaggle)

Preveja preços de venda e pratique engenharia de recursos, RFs e aumento de gradiente

#Importando bibliotecas

In [511]:
import pandas as pd

#Leitura do Dataset

In [512]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQv4gEKgTDJ1ASHI0fq3cSEbpX2wlHi461M-Ts5pDOaHI0BLKpQBZmhzxNEbPLX_WsXvCNAFOgumcvs/pub?output=csv')
df_t =  pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRmxhGa2NKjE-y0rIBmdisP-LUuFzChmuDo8ueaJGwxadx1Vy4K-_lAgCBH1FrdjLtK6NPTxfY5GuR-/pub?output=csv')

#Análise exploratória dos dados

In [513]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

O dataset possui muitas colunas e também muitas colunas nulas, com isso vou criar um dicionário com apenas as colunas que possuem registros nulos e respectiva quantidade de registros

##Criando um dicionário com o nome das colunas com registros nulos

In [514]:
def dict_nulos(dataset):
  nulos = dataset.isna().sum()
  dict_nulos = {}
  for i in range(len(nulos)):
    if nulos[i] != 0:
      dict_nulos[nulos.index[i]] = nulos[i]
  return dict_nulos

In [515]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'Alley': 1369,
 'BsmtCond': 37,
 'BsmtExposure': 38,
 'BsmtFinType1': 37,
 'BsmtFinType2': 38,
 'BsmtQual': 37,
 'Electrical': 1,
 'Fence': 1179,
 'FireplaceQu': 690,
 'GarageCond': 81,
 'GarageFinish': 81,
 'GarageQual': 81,
 'GarageType': 81,
 'GarageYrBlt': 81,
 'LotFrontage': 259,
 'MasVnrArea': 8,
 'MasVnrType': 8,
 'MiscFeature': 1406,
 'PoolQC': 1453}

#Criando função para dropar as colunas com mais de 1000 registros nulos.

In [516]:
def drop_cols(dic_nome_nulos,dataset):
  for item in dic_nome_nulos:
    if dic_nome_nulos[item] >1000:
      dataset.drop(columns=item, axis=1, inplace=True)
  print('ok')

In [517]:
drop_cols(dicionario_nulos,df)

ok

In [518]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'BsmtCond': 37,
 'BsmtExposure': 38,
 'BsmtFinType1': 37,
 'BsmtFinType2': 38,
 'BsmtQual': 37,
 'Electrical': 1,
 'FireplaceQu': 690,
 'GarageCond': 81,
 'GarageFinish': 81,
 'GarageQual': 81,
 'GarageType': 81,
 'GarageYrBlt': 81,
 'LotFrontage': 259,
 'MasVnrArea': 8,
 'MasVnrType': 8}

colunas deletadas

#Criar função para separar colunas categóricas das não categóricas

In [519]:
def sep_cat(dic_nome_nulos,dataset):
  cat = []
  nao_cat = []
  for item in dic_nome_nulos:
    if dataset[item].dtype == 'int64' or dataset[item].dtype == 'float64':
      nao_cat.append(item)
    else:
      cat.append(item)
  print('ok')
  return cat, nao_cat

A função retorna duas listas categorica, nao categorica.

In [520]:
categorico, nao_categorico = sep_cat(dicionario_nulos,df)

ok

In [521]:
categorico

['MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond']

In [522]:
nao_categorico

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

#Criar função para preencher nulos com a moda no caso de categorica ou booleano e para preencher nulos com a mediana no caso de não categórica.

In [523]:
def preencher_nulos_cat(dataset, col_categorica):
  for coluna in col_categorica:
    dataset[coluna] = dataset[coluna].fillna(dataset[coluna].mode(0)[0])

In [524]:
preencher_nulos_cat(df,categorico)

In [525]:
def preencher_nulos_nao_cat(dataset,categorica):
  for coluna in categorica:
    dataset[coluna] = dataset[coluna].fillna(dataset[coluna].median())

In [526]:
preencher_nulos_nao_cat(df,nao_categorico)

In [527]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'FireplaceQu': 690}

In [528]:
df['FireplaceQu'].mode()

0    Gd
dtype: object

In [529]:
df['FireplaceQu'] = df['FireplaceQu'].fillna('Gd')

In [530]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{}

colunas preenchidas

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1460 non-null   object
 25  MasVnrArea     1460 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1460 non-null   object
 30  BsmtCond       1460 non-null   object
 31  BsmtExposure   1460 non-null   object
 32  BsmtFinType1   1460 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1460 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1460 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    1460 non-null   object
 57  GarageType     1460 non-null   object
 58  GarageYrBlt    1460 non-null   float64
 59  GarageFinish   1460 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1460 non-null   object
 63  GarageCond     1460 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   object
 75  SaleCondition  1460 non-null   object
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(39)
memory usage: 878.4+ KB

#Classificar as categorias numericamente

In [532]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 77 columns]

In [533]:
def sep_cat_total(dataset):
  cat = []
  for item in dataset.columns:
    if dataset[item].dtype != 'int64' and dataset[item].dtype != 'float64':
      cat.append(item)
  print('ok')
  return cat

In [534]:
categorico_total = sep_cat_total(df)

ok

In [535]:
categorico_total

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [536]:
porcentagem_categorico = (len(categorico_total)/len(df.columns))*100
porcentagem_categorico

50.649350649350644

In [537]:
def classif_categoria(dataset, categoria):
  for item in categoria:
    troca ={}
    cat = dataset[item].value_counts()
    for i in range(len(cat)):
      troca[cat.index[i]] = i
      dataset[item] = dataset[item].replace(troca)
  print('ok')

In [538]:
classif_categoria(df,categorico_total)

ok

In [539]:
df

        Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0        1          60         0  ...         0              0     208500
1        2          20         0  ...         0              0     181500
2        3          60         0  ...         0              0     223500
3        4          70         0  ...         0              2     140000
4        5          60         0  ...         0              0     250000
...    ...         ...       ...  ...       ...            ...        ...
1455  1456          60         0  ...         0              0     175000
1456  1457          20         0  ...         0              0     210000
1457  1458          70         0  ...         0              0     266500
1458  1459          20         0  ...         0              0     142125
1459  1460          20         0  ...         0              0     147500

[1460 rows x 77 columns]

In [540]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   int64
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   int64
 6   LotShape       1460 non-null   int64
 7   LandContour    1460 non-null   int64
 8   Utilities      1460 non-null   int64
 9   LotConfig      1460 non-null   int64
 10  LandSlope      1460 non-null   int64
 11  Neighborhood   1460 non-null   int64
 12  Condition1     1460 non-null   int64
 13  Condition2     1460 non-null   int64
 14  BldgType       1460 non-null   int64
 15  HouseStyle     1460 non-null   int64
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   int64
 21  RoofMatl       1460 non-null   int64
 22  Exterior1st    1460 non-null   int64
 23  Exterior2nd    1460 non-null   int64
 24  MasVnrType     1460 non-null   int64
 25  MasVnrArea     1460 non-null   float64
 26  ExterQual      1460 non-null   int64
 27  ExterCond      1460 non-null   int64
 28  Foundation     1460 non-null   int64
 29  BsmtQual       1460 non-null   int64
 30  BsmtCond       1460 non-null   int64
 31  BsmtExposure   1460 non-null   int64
 32  BsmtFinType1   1460 non-null   int64
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1460 non-null   int64
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   int64
 39  HeatingQC      1460 non-null   int64
 40  CentralAir     1460 non-null   int64
 41  Electrical     1460 non-null   int64
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   int64
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   int64
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    1460 non-null   int64
 57  GarageType     1460 non-null   int64
 58  GarageYrBlt    1460 non-null   float64
 59  GarageFinish   1460 non-null   int64
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1460 non-null   int64
 63  GarageCond     1460 non-null   int64
 64  PavedDrive     1460 non-null   int64
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   int64
 75  SaleCondition  1460 non-null   int64
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(74)
memory usage: 878.4 KB

Dataset pronto

In [541]:
correlacao = df.corr()
correlacao

                     Id  MSSubClass  ...  SaleCondition  SalePrice
Id             1.000000    0.011156  ...      -0.016834  -0.021917
MSSubClass     0.011156    1.000000  ...       0.004788  -0.084284
MSZoning      -0.021713    0.280306  ...       0.099049  -0.183642
LotFrontage   -0.009921   -0.356718  ...       0.018490   0.334771
LotArea       -0.033226   -0.139781  ...      -0.016193   0.263843
...                 ...         ...  ...            ...        ...
MoSold         0.021172   -0.013585  ...       0.033540   0.046432
YrSold         0.000712   -0.021407  ...      -0.095609  -0.028923
SaleType      -0.020018    0.014963  ...       0.234852   0.084195
SaleCondition -0.016834    0.004788  ...       1.000000   0.004591
SalePrice     -0.021917   -0.084284  ...       0.004591   1.000000

[77 rows x 77 columns]

In [542]:
linhas_indice = correlacao.index
def maiores_corr():
  maiores = []
  for x in range(len(correlacao['SalePrice'])):
    if abs(correlacao['SalePrice'].iloc[x]) > 0.5 and abs(correlacao['SalePrice'].iloc[x]) < 1:
      maiores.append(linhas_indice[x])
  print('ok')
  return maiores

In [543]:
len(correlacao['SalePrice'])

77

In [544]:
col = maiores_corr()
#col = correlacao.columns
col

ok

['OverallQual',
 'YearBuilt',
 'YearRemodAdd',
 'ExterQual',
 'TotalBsmtSF',
 '1stFlrSF',
 'GrLivArea',
 'FullBath',
 'TotRmsAbvGrd',
 'GarageFinish',
 'GarageCars',
 'GarageArea']

In [545]:
#col = ['OverallQual','TotalBsmtSF','1stFlrSF','GrLivArea','GarageCars','GarageArea']

In [546]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x = df[col]
y = df['SalePrice']

In [547]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.30)

In [548]:
modelo = LinearRegression()
modelo.fit(x_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [549]:
modelo.score(x_teste, y_teste)

0.6681958969870958

In [550]:
dicionario_nulos = dict_nulos(df_t)
dicionario_nulos

{'Alley': 1352,
 'BsmtCond': 45,
 'BsmtExposure': 44,
 'BsmtFinSF1': 1,
 'BsmtFinSF2': 1,
 'BsmtFinType1': 42,
 'BsmtFinType2': 42,
 'BsmtFullBath': 2,
 'BsmtHalfBath': 2,
 'BsmtQual': 44,
 'BsmtUnfSF': 1,
 'Exterior1st': 1,
 'Exterior2nd': 1,
 'Fence': 1169,
 'FireplaceQu': 730,
 'Functional': 2,
 'GarageArea': 1,
 'GarageCars': 1,
 'GarageCond': 78,
 'GarageFinish': 78,
 'GarageQual': 78,
 'GarageType': 76,
 'GarageYrBlt': 78,
 'KitchenQual': 1,
 'LotFrontage': 227,
 'MSZoning': 4,
 'MasVnrArea': 15,
 'MasVnrType': 16,
 'MiscFeature': 1408,
 'PoolQC': 1456,
 'SaleType': 1,
 'TotalBsmtSF': 1,
 'Utilities': 2}

In [551]:
categorico, nao_categorico = sep_cat(dicionario_nulos,df_t)

ok

In [552]:
preencher_nulos_cat(df_t,categorico)

In [553]:
preencher_nulos_nao_cat(df_t,nao_categorico)

In [554]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{}

In [555]:
categorico_total = sep_cat_total(df_t)

ok

In [556]:
classif_categoria(df_t,categorico_total)

ok

In [557]:
df_t

        Id  MSSubClass  MSZoning  ...  YrSold  SaleType  SaleCondition
0     1461          20         4  ...    2010         0              0
1     1462          20         0  ...    2010         0              0
2     1463          60         0  ...    2010         0              0
3     1464          60         0  ...    2010         0              0
4     1465         120         0  ...    2010         0              0
...    ...         ...       ...  ...     ...       ...            ...
1454  2915         160         1  ...    2006         0              0
1455  2916         160         1  ...    2006         0              2
1456  2917          20         0  ...    2006         0              2
1457  2918          85         0  ...    2006         0              0
1458  2919          60         0  ...    2006         0              0

[1459 rows x 80 columns]

In [558]:
prev = modelo.predict(df_t[col])

In [559]:
df_t['SalePrice'] = prev

In [560]:
submission = df_t.filter(['Id','SalePrice'])

In [561]:
submission.to_csv('submission.csv', index=False)