<a href="https://colab.research.google.com/github/ror74559/house_price_kaggle/blob/main/House_Price(kaggle).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# House Prices - Advanced Regression Techniques(kaggle)

Preveja preços de venda e pratique engenharia de recursos, RFs e aumento de gradiente

#Importando bibliotecas

In [60]:
import pandas as pd

#Leitura do Dataset

In [61]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQv4gEKgTDJ1ASHI0fq3cSEbpX2wlHi461M-Ts5pDOaHI0BLKpQBZmhzxNEbPLX_WsXvCNAFOgumcvs/pub?output=csv')
df_t =  pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRmxhGa2NKjE-y0rIBmdisP-LUuFzChmuDo8ueaJGwxadx1Vy4K-_lAgCBH1FrdjLtK6NPTxfY5GuR-/pub?output=csv')

#Análise exploratória dos dados

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

O dataset possui muitas colunas e também muitas colunas nulas, com isso vou criar um dicionário com apenas as colunas que possuem registros nulos e respectiva quantidade de registros

##Criando um dicionário com o nome das colunas com registros nulos

In [63]:
def dict_nulos(dataset):
  nulos = dataset.isna().sum()
  dict_nulos = {}
  for i in range(len(nulos)):
    if nulos[i] != 0:
      dict_nulos[nulos.index[i]] = nulos[i]
  return dict_nulos

In [64]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'Alley': 1369,
 'BsmtCond': 37,
 'BsmtExposure': 38,
 'BsmtFinType1': 37,
 'BsmtFinType2': 38,
 'BsmtQual': 37,
 'Electrical': 1,
 'Fence': 1179,
 'FireplaceQu': 690,
 'GarageCond': 81,
 'GarageFinish': 81,
 'GarageQual': 81,
 'GarageType': 81,
 'GarageYrBlt': 81,
 'LotFrontage': 259,
 'MasVnrArea': 8,
 'MasVnrType': 8,
 'MiscFeature': 1406,
 'PoolQC': 1453}

#Criando função para dropar as colunas com mais de 1000 registros nulos.

In [65]:
def drop_cols(dic_nome_nulos,dataset):
  for item in dic_nome_nulos:
    if dic_nome_nulos[item] >1000:
      dataset.drop(columns=item, axis=1, inplace=True)
  print('ok')

In [66]:
drop_cols(dicionario_nulos,df)

ok

In [67]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'BsmtCond': 37,
 'BsmtExposure': 38,
 'BsmtFinType1': 37,
 'BsmtFinType2': 38,
 'BsmtQual': 37,
 'Electrical': 1,
 'FireplaceQu': 690,
 'GarageCond': 81,
 'GarageFinish': 81,
 'GarageQual': 81,
 'GarageType': 81,
 'GarageYrBlt': 81,
 'LotFrontage': 259,
 'MasVnrArea': 8,
 'MasVnrType': 8}

colunas deletadas

#Criar função para separar colunas categóricas das não categóricas

In [68]:
def sep_cat(dic_nome_nulos,dataset):
  cat = []
  nao_cat = []
  for item in dic_nome_nulos:
    if dataset[item].dtype == 'int64' or dataset[item].dtype == 'float64':
      nao_cat.append(item)
    else:
      cat.append(item)
  print('ok')
  return cat, nao_cat

A função retorna duas listas categorica, nao categorica.

In [69]:
categorico, nao_categorico = sep_cat(dicionario_nulos,df)

ok

In [70]:
categorico

['MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond']

In [71]:
nao_categorico

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

#Criar função para preencher nulos com a moda no caso de categorica ou booleano e para preencher nulos com a mediana no caso de não categórica.

In [72]:
def preencher_nulos_cat(dataset, col_categorica):
  for coluna in col_categorica:
    dataset[coluna] = dataset[coluna].fillna(dataset[coluna].mode(0)[0])

In [73]:
preencher_nulos_cat(df,categorico)

In [74]:
def preencher_nulos_nao_cat(dataset,categorica):
  for coluna in categorica:
    dataset[coluna] = dataset[coluna].fillna(dataset[coluna].median())

In [75]:
preencher_nulos_nao_cat(df,nao_categorico)

In [76]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{'FireplaceQu': 690}

In [77]:
df['FireplaceQu'].mode()

0    Gd
dtype: object

In [78]:
df['FireplaceQu'] = df['FireplaceQu'].fillna('Gd')

In [79]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{}

colunas preenchidas

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1460 non-null   object
 25  MasVnrArea     1460 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1460 non-null   object
 30  BsmtCond       1460 non-null   object
 31  BsmtExposure   1460 non-null   object
 32  BsmtFinType1   1460 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1460 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1460 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    1460 non-null   object
 57  GarageType     1460 non-null   object
 58  GarageYrBlt    1460 non-null   float64
 59  GarageFinish   1460 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1460 non-null   object
 63  GarageCond     1460 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   object
 75  SaleCondition  1460 non-null   object
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(39)
memory usage: 878.4+ KB

#Classificar as categorias numericamente

In [81]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 77 columns]

In [82]:
def sep_cat_total(dataset):
  cat = []
  for item in dataset.columns:
    if dataset[item].dtype != 'int64' and dataset[item].dtype != 'float64':
      cat.append(item)
  print('ok')
  return cat

In [83]:
categorico_total = sep_cat_total(df)

ok

In [84]:
categorico_total

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [85]:
porcentagem_categorico = (len(categorico_total)/len(df.columns))*100
porcentagem_categorico

50.649350649350644

In [86]:
def classif_categoria(dataset, categoria):
  for item in categoria:
    troca ={}
    cat = dataset[item].value_counts()
    for i in range(len(cat)):
      troca[cat.index[i]] = i
      dataset[item] = dataset[item].replace(troca)
  print('ok')

In [87]:
classif_categoria(df,categorico_total)

ok

In [88]:
df

        Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0        1          60         0  ...         0              0     208500
1        2          20         0  ...         0              0     181500
2        3          60         0  ...         0              0     223500
3        4          70         0  ...         0              2     140000
4        5          60         0  ...         0              0     250000
...    ...         ...       ...  ...       ...            ...        ...
1455  1456          60         0  ...         0              0     175000
1456  1457          20         0  ...         0              0     210000
1457  1458          70         0  ...         0              0     266500
1458  1459          20         0  ...         0              0     142125
1459  1460          20         0  ...         0              0     147500

[1460 rows x 77 columns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   int64
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   int64
 6   LotShape       1460 non-null   int64
 7   LandContour    1460 non-null   int64
 8   Utilities      1460 non-null   int64
 9   LotConfig      1460 non-null   int64
 10  LandSlope      1460 non-null   int64
 11  Neighborhood   1460 non-null   int64
 12  Condition1     1460 non-null   int64
 13  Condition2     1460 non-null   int64
 14  BldgType       1460 non-null   int64
 15  HouseStyle     1460 non-null   int64
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   int64
 21  RoofMatl       1460 non-null   int64
 22  Exterior1st    1460 non-null   int64
 23  Exterior2nd    1460 non-null   int64
 24  MasVnrType     1460 non-null   int64
 25  MasVnrArea     1460 non-null   float64
 26  ExterQual      1460 non-null   int64
 27  ExterCond      1460 non-null   int64
 28  Foundation     1460 non-null   int64
 29  BsmtQual       1460 non-null   int64
 30  BsmtCond       1460 non-null   int64
 31  BsmtExposure   1460 non-null   int64
 32  BsmtFinType1   1460 non-null   int64
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1460 non-null   int64
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   int64
 39  HeatingQC      1460 non-null   int64
 40  CentralAir     1460 non-null   int64
 41  Electrical     1460 non-null   int64
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   int64
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   int64
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    1460 non-null   int64
 57  GarageType     1460 non-null   int64
 58  GarageYrBlt    1460 non-null   float64
 59  GarageFinish   1460 non-null   int64
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1460 non-null   int64
 63  GarageCond     1460 non-null   int64
 64  PavedDrive     1460 non-null   int64
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   int64
 75  SaleCondition  1460 non-null   int64
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(74)
memory usage: 878.4 KB

Dataset pronto

In [90]:
correlacao = df.corr()
correlacao

                     Id  MSSubClass  ...  SaleCondition  SalePrice
Id             1.000000    0.011156  ...      -0.016834  -0.021917
MSSubClass     0.011156    1.000000  ...       0.004788  -0.084284
MSZoning      -0.021713    0.280306  ...       0.099049  -0.183642
LotFrontage   -0.009921   -0.356718  ...       0.018490   0.334771
LotArea       -0.033226   -0.139781  ...      -0.016193   0.263843
...                 ...         ...  ...            ...        ...
MoSold         0.021172   -0.013585  ...       0.033540   0.046432
YrSold         0.000712   -0.021407  ...      -0.095609  -0.028923
SaleType      -0.020018    0.014963  ...       0.234852   0.084195
SaleCondition -0.016834    0.004788  ...       1.000000   0.004591
SalePrice     -0.021917   -0.084284  ...       0.004591   1.000000

[77 rows x 77 columns]

# (Antes de conhecer Select K Best)Função para separar as colunas com maiores correlações

In [121]:
linhas_indice = correlacao.index
def maiores_corr(minimo):
  maiores = []
  for x in range(len(correlacao['SalePrice'])):
    if abs(correlacao['SalePrice'].iloc[x]) > minimo and abs(correlacao['SalePrice'].iloc[x]) < 1:
      maiores.append(linhas_indice[x])
  print('ok')
  return maiores

In [151]:
col = maiores_corr(0.6)
col

ok

['OverallQual',
 'TotalBsmtSF',
 '1stFlrSF',
 'GrLivArea',
 'GarageCars',
 'GarageArea']

#Select K Best

In [477]:
#Funçao seleciona as melhores features de acorco com Select K Beast e treina o modelo
# dataset = é o dataframe o qual será selecionada as features
# quant_col = quantidade K de features selecionadas, no qual serão selecionados grupos de colunas 
# de 1 até quant_col
# alvo = nome da coluna target do dataframe
# tam_test = quantidade de variáveis separadas para teste
# min_escore = é o mínimo de escore de saída
# a função printa na tela as colunas e os escores maiores que o min_score
# a função retorna três variáveis: O maior score, as olunas e o modelo que gerou o maior escore.

def m_features(dataset, quant_col,alvo,tam_test,min_escore):

  from sklearn.feature_selection import SelectKBest
  from sklearn.linear_model import LinearRegression
  from sklearn.model_selection import train_test_split
  #
  x = dataset.drop(columns= alvo ,axis = 1)
  y = dataset[alvo]
  maior_score = 0
  colunas = []
  m_modelo = None

  for i in range(1,quant_col + 1):
    from sklearn.feature_selection import f_classif, mutual_info_classif
    f_classif = SelectKBest(score_func=f_classif, k= i)
    fit = f_classif.fit(x,y)
    indices = fit.get_support(indices=True)
    cols = dataset.columns[indices]

    X = dataset[cols]
  
    X_treino, X_teste, y_treino, y_teste = train_test_split(X,y, test_size = tam_test)
    modelo = LinearRegression()
    modelo.fit(X_treino, y_treino)
    escore = modelo.score(X_teste, y_teste)
    if escore > min_escore:
      print(f'Com as {i} colunas: {cols}, o score foi {escore}\n')
      if escore > maior_score:
        maior_score = escore
        colunas = cols
        m_modelo = modelo
  funcao = 'y = ' + str(modelo.intercept_) +' + '
  coef = m_modelo.coef_
  for c in range(len(coef)):
    funcao += str(coef[c]) + f'x{c+ 1} '
  
  print(34*'-',' FIM ',34*'-','\n')
  print(f'O modelo de saída alcançou score de {maior_score} e possui {len(colunas)} colunas.\n')
  print(33*'-',' Colunas ',33*'-','\n')
  print(colunas)
  print('\n',33*'-',' Função ',33*'-','\n')
  print(funcao)
  print('\n',80*'-')
  

  return maior_score, colunas, m_modelo

In [478]:
escore, col, modelo = m_features(df,50, 'SalePrice', 0.30, 0.85)

Com as 34 colunas: Index(['MSZoning', 'LotArea', 'Street', 'LotShape', 'OverallQual', 'YearBuilt',
       'YearRemodAdd', 'Exterior1st', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'Foundation', 'BsmtQual', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'FullBath', 'HalfBath', 'KitchenQual', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'WoodDeckSF', 'OpenPorchSF', 'MiscVal'],
      dtype='object'), o score foi 0.8750426211779614

Com as 38 colunas: Index(['MSZoning', 'LotArea', 'Street', 'LotShape', 'OverallQual', 'YearBuilt',
       'YearRemodAdd', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'Foundation', 'BsmtQual', 'BsmtExposure',
       'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'CentralAir',
       'Electrical', '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'MiscVal', 'SaleType'],
      dtype='object'), o score foi 0.8513235912541649

Com as 39 colunas: Index(['MSZoning', 'LotFrontage', 'LotArea', 'Street', 'LotShape',
       'OverallQual', 'YearBuilt', 'YearRemodAdd', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'Foundation',
       'BsmtQual', 'BsmtExposure', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'MiscVal',
       'SaleType'],
      dtype='object'), o score foi 0.8565992936796204

Com as 44 colunas: Index(['MSZoning', 'LotFrontage', 'LotArea', 'Street', 'LotShape', 'LandSlope',
       'Condition2', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'Foundation',
       'BsmtQual', 'BsmtExposure', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'FireplaceQu',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'MiscVal', 'SaleType', 'SaleCondition'],
      dtype='object'), o score foi 0.8517726276435026

----------------------------------  FIM  ----------------------------------

O modelo de saída alcançou score de 0.8750426211779614 e possui 34 colunas.

---------------------------------  Colunas  ---------------------------------

Index(['MSZoning', 'LotArea', 'Street', 'LotShape', 'OverallQual', 'YearBuilt',
       'YearRemodAdd', 'Exterior1st', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'Foundation', 'BsmtQual', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'FullBath', 'HalfBath', 'KitchenQual', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'WoodDeckSF', 'OpenPorchSF', 'MiscVal'],
      dtype='object')

 ---------------------------------  Função  ---------------------------------

y = -203867.1619797767 + -4231.3080100932775x1 0.43430329173844484x2 -19928.671501301724x3 1154.7402734565512x4 17143.920312788156x5 104.0043496873203x6 197.37890743034143x7 -147.0954489165829x8 -5834.7466032619x9 32.32530356924716x10 10955.692405745645x11 -1917.834685375745x12 6438.42875751491x13 4.87776016410648x14 -14.571498832189414x15 13.940975797301853x16 -984.5826841080998x17 -5253.493609720484x18 473.6616046001731x19 22.97016027843956x20 11.757929120577767x21 14.651847700945039x22 -844.8046411525411x23 494.7688167128863x24 8493.268904864968x25 3316.250254987728x26 7253.539651411335x27 -53.215900586728225x28 1295.578263731245x29 12208.289465908221x30 1.5189913612716943x31 28.96729913168885x32 14.40221597996009x33 0.14026617777523304x34

 --------------------------------------------------------------------------------

#Preparação do dataset de teste para envio da predição

In [129]:
dicionario_nulos = dict_nulos(df_t)
dicionario_nulos

{'Alley': 1352,
 'Fence': 1169,
 'FireplaceQu': 730,
 'MiscFeature': 1408,
 'PoolQC': 1456}

In [130]:
categorico, nao_categorico = sep_cat(dicionario_nulos,df_t)

ok

In [131]:
preencher_nulos_cat(df_t,categorico)

In [132]:
preencher_nulos_nao_cat(df_t,nao_categorico)

In [133]:
dicionario_nulos = dict_nulos(df)
dicionario_nulos

{}

In [134]:
categorico_total = sep_cat_total(df_t)

ok

In [135]:
classif_categoria(df_t,categorico_total)

ok

In [136]:
df_t

        Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition      SalePrice
0     1461          20         4  ...         0              0  109086.982239
1     1462          20         0  ...         0              0  149333.230861
2     1463          60         0  ...         0              0  170397.189540
3     1464          60         0  ...         0              0  189185.335361
4     1465         120         0  ...         0              0  220726.444895
...    ...         ...       ...  ...       ...            ...            ...
1454  2915         160         1  ...         0              0   70355.649127
1455  2916         160         1  ...         0              2   87599.978532
1456  2917          20         0  ...         0              2  148712.780790
1457  2918          85         0  ...         0              0  102884.791574
1458  2919          60         0  ...         0              0  240714.102945

[1459 rows x 81 columns]

In [460]:
prev = modelo.predict(df_t[col])

In [461]:
df_t['SalePrice'] = prev

In [462]:
submission = df_t.filter(['Id','SalePrice'])

In [463]:
submission.to_csv('submission.csv', index=False)